#text{
    color: #ff0066;
    font-size: 40px;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 5%;
    margin-top: 5%;
    
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
}
.top{
    background-image: url("Image/top.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.button{
    text-decoration: none;
    background-color: #ff0066;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    
}
#dream{
    background-image: url("Image/biography-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.dream{
    margin-top: 0;
}
.work{
    width: 30%;
    float: left;
    padding-left: 25px;
}
.work img{
    width: 100%;
}
.my{
    font-size: 40px;
    text-align: center;
}
#Latest{
    background-image: url("Image/latest-work-bg.png");
    background-repeat: no-repeat;
    
}
.hello{
    text-align: center;
}
.hi{
    text-decoration: none;
    background-color: #ff0066;
    padding: 30px 50px;
}
.box{

    width: 450px;
    padding: 40px 170px ;
    margin: 100px;
    text-align: center;
    background-color: #ff0066;
    border-radius: 10px;
    color: white;
}
#last{
    background-image: url("Image/footer-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

